@{
    ViewBag.Title = "Home Page";
}

<input type="text" id="employeeId" class="form-control" placeholder="Enter the employee id..." /><br />
<input type="button" id="btnGetEmployee" value="Get Employees" class="btn btn-primary" />
<div id="grid"></div>